In [8]:
5/8

0.625

In [5]:
1 + 2 + 5

8

In [6]:
n = "Hello!"
print(n)
print(n*4)

Hello!
Hello!Hello!Hello!Hello!

In [7]:
j = "Yvonne"
print(n + j)

Hello!Yvonne

In [9]:
n.upper()

'HELLO!'

In [11]:
j.upper()

'YVONNE'

In [12]:
type(4)

int

In [13]:
type(4.0)

float

In [14]:
print(10 * 1)
print(10 / 1)

10
10.0

In [15]:
type(True)

bool

In [16]:
type(TRUE)

NameError: name 'TRUE' is not defined

In [17]:
type(None)

NoneType

# 1st table
|Tables     |Are         |Cool  |  
|-------------|:--------------:|-----:|
|col 3 is    | right-aligned  |\$1600|
|col 2 is    | centered     |  \$12|
|zebra stripes| are neat     |  \$1 |

# 2nd table

| h  | f  |
|----|----|
| 4  | 10 |
| 0.3| 0.2|

<http://www.google.com>
$$\sqrt{50}$$

In [21]:
l=["adam","bob",30,"adam"]
print(l)

['adam', 'bob', 30, 'adam']

In [22]:
l.count("adam")

2

In [23]:
j.count("n")

2

In [1]:
8

8

In [4]:
savings=100
factor=1.1
year1=savings*factor
print(year1)
print(type(year1))

110.00000000000001
<class 'float'>

In [7]:
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
savings=str(savings)
result=str(result)
print("I started with $" + savings + " and now have $" + result + ". Awesome!")

# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
pi_float=float(pi_string)
print(pi_float)
type(pi_float)

I started with $100 and now have $194.87171000000012. Awesome!
3.1415926

float